<!DOCTYPE html>
<html>
<head>
    <title>React redux boilerplate</title>
</head>
    <body>
        <div id="content"></div>
    </body>
    <script src="/bundle.js" type="application/javascript"></script>
</html>
